.hide {
    display: none;
}

.unhide {
    display: contents;
}

/* #highscore-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50rem;
} */

/* .scoreRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
} */